div#HEADFILES
table
	tr
		th
		th Type
		th User 
		th Password 
	each item in node.items
		- var i=0
		each secret in item.data.secrets
			tr
				if i == 0
					td(style='font-weight:bold')=item.data.name
				else
					td
				if secret.port
					td=secret.type+' ('+secret.port+')'
				else
					td=secret.type
				td=secret.user
				td=secret.password
			if secret.mfa
				each mfa in secret.mfa
					tr
						td
						td mfa (#{mfa.type})
						td(colspan=2)=mfa.value
					
			- i+=1
div#FILES
div#FOOTFILES
